.chat-message.ChatGPT {
  background-color: #444654;
  color: white;
}

.chat-message-center {
  max-width: 768px;   /* mudou */
  margin: 0 auto;
  display: flex;
  padding: 14px 24px; /* levemente ajustado */
  align-items: flex-start;
  gap: 16px;          /* NOVO */
}

.message {
  padding: 0;
  flex: 1;
}


.message p {
  margin: 0 0 10px 0;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 40px; /* ← Seu avatar fica dentro de um container display: flex (.chat-message-center). */
}

.avatar.ChatGPT {
  background: #ffffff; /* círculo branco igual ao print */
}
